<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li (click)="onClick()">click</li>
  <li (dblclick)="onDblClick()">dblclick</li>
  <li>
    <input value="blur" (blur)="onBlur()" />
  </li>
  <li>
    <input value="focus" (focus)="onFocus()" />
  </li>
  <li>
    <input type="text" value="change" (change)="onChange()"/>
  </li>
  <li>
    <input type="text" value="input" (input)="onInput()"/>
  </li>
  <li>
    <input type="text" value="copy" (copy)="onCopy()" />
  </li>
  <li>
    <input type="text" value="cut" (cut)="onCut()" />
  </li>
  <li>
    <input type="text" value="paste" (paste)="onPaste()" />
  </li>
  <li>
    <input type="text" value="keydown" (keydown)="onKeydown()" />
  </li>
  <li>
    <input type="text" value="keyup" (keyup)="onKeyup()" />
  </li>
  <li>
    <input value="keypress" (keypress)="onKeypress()" />
  </li>
  <li (mousedown)="onMousedown()">mousedown</li>
  <li (mouseup)="onMouseup()">mouseup</li>
  <li (mouseenter)="onMouseenter()">mouseenter</li>
  <li (mouseleave)="onMouseleave()">mouseleave</li>
  <li (mousemove)="onMousemove()">mousemove</li>
  <li (mouseover)="onMouseover()">mouseover</li>
</ul>

